
.Parent {
    position: absolute;
    display: block;
  }
.Bar{
    /* background-color: blue; */
    display: inline-block;
    margin: 0 1px;
    padding-bottom: 10px;
  }

.Button{
  display: block;
  position: absolute;
  background-color: #474252;
    color: white;
    margin: 10px 20px 0 20px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    align-self: center;
}