@media (max-width: 600px){
    .Button{
        display: block;
    }
}

.Button{
    background-color: #474252;
    color: white;
    margin: 10px 30px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.Button:hover{
    color: gray;
}

.Button:disabled{
    color: black;
}